@import "variables";

a {
  color: inherit;
  text-decoration: none;
}

.cardElement {
  transition: box-shadow 0.3s;
  border-radius: 10px;
  background: #fff;
  display: inline-block;
  height: 350px;
  width: 220px;
}

.checked {
  color: #f9bf3b;
}

.ratingStars {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.simCartImg {
  width: 100%;
  height: 60%;
  margin-bottom: 20px;
}

.ratingStar {
  height: 15px;
  width: 15px;
}

.productPrice {
  font-size: 24px;
  color: $price-color;
  line-height: 30px;
  margin-top: 7px;
}

.cardElement:hover {
  box-shadow: 0px 0 21px rgba(33, 33, 33, 1);
}

.prodTitle {
  height: 40px;
  font-weight: 500;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  white-space: initial;
  text-overflow: ellipsis;
}

.addToCartfromCart {
  position: absolute;
  background: -webkit-linear-gradient(left, #4a60c1 10%, #3985e0);
  height: 45px;
  width: 45px;
  bottom: 15px;
  right: 15px;
  border: none;
  border-radius: 7px;
}

.removeFromCart {
  background: linear-gradient(90deg, #d74151 6.12%, #ff363d 96.28%);
}

.addToCartfromCard:hover {
  cursor: pointer;
}
.cartIcon {
  height: 35px;
  width: 35px;
  transform: translate(-2px, 3px);
}

.discountIcon {
  position: absolute;
  width: 67px;
  height: 25px;
  color: #fff;
  background-image: linear-gradient(287deg, #f0280a 0%, #bc2610 100%);
  top: 20px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
