<mat-card class="cardElement" *ngIf="_product">
  <a href="products/{{ _product.id }}" target="_self">
    <img class="simCartImg" [src]="_product.image" alt="" />
  </a>
  <a href="products/{{ _product.id }}" target="_self" class="prodTitle">{{
    _product.title
  }}</a>
  <div class="productPrice">{{ _product.price }}$</div>
  <div class="ratingStars">
    <div
      *ngFor="let item of [0, 1, 2, 3, 4]; let i = index"
      [class.checked]="i < prodRating"
    >
      <span class="material-icons">star_rate</span>
    </div>
    {{ _product.rating.rate }}
  </div>
  <button class="addToCartfromCard">
    <img class="cartIcon" src="./assets/images/shoppingCart.svg" alt="" />
  </button>
  <div class="discountIcon" *ngIf="discountPers > 10">
    -{{ this.discountPers }}%
  </div>
</mat-card>
