<header>
  <mat-toolbar fxHide.gt-sm>
    <button
      mat-icon-button
      class="toolbar-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>
  <a class="navbar-brand" href="/" title="Căutarea nu se oprește niciodată">
    <img
      class="img_emag"
      src="https://s13emagst.akamaized.net/layout/ro/images/logo//59/88362.svg"
      alt="eMAG"
    />
  </a>

  <div
    class="navbar-searchbox"
    matAutocompleteOrigin
    #origin="matAutocompleteOrigin"
  >
    <input
      #search
      [ngClass]="{ filled: filled }"
      (click)="filled = true"
      (blur)="filled = search.value ? true : false"
      type="search"
      name="query"
      class="searchbox"
      placeholder="Începe o nouă căutare"
      [formControl]="myControl"
      [matAutocomplete]="auto"
      [matAutocompleteConnectedTo]="origin"
      fxHide.lt-sm
    />
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option
        *ngFor="let option of filteredOptions | async"
        [value]="option"
      >
        {{ option }}
      </mat-option>
    </mat-autocomplete>
    <button class="search-button">
      <mat-icon>search</mat-icon>
    </button>
  </div>

  <div class="dropdown">
    <button mat-button [matMenuTriggerFor]="menu" class="btn">
      <mat-icon class="button-icons">person</mat-icon>
      <span class="button-text" fxHide.lt-md>My Account</span>
      <mat-icon class="caret" fxHide.lt-md>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="subMenu">Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
    <mat-menu #subMenu="matMenu">
      <button mat-menu-item>Item 3</button>
      <button mat-menu-item>Item 4</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="cartmenu" class="btn">
      <mat-icon class="button-icons"> shopping_cart </mat-icon
      ><span class="button-text" fxHide.lt-md>My Cart</span>
      <mat-icon class="caret" fxHide.lt-md>arrow_drop_down</mat-icon>
    </button>

    <mat-menu #cartmenu="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
  </div>
</header>
