@import "/src/variables.scss";
@import "/src/app/shared/styles/mixins";

header {
  background-color: #f5f5f5;
  @include flexCenter();
  padding: 10px 0px 0px 20px;
  .btn {
    margin-top: -5px;
    display: flex;
    background-color: transparent;
    border: none;
    outline: none;
    text-align: center;
    cursor: pointer;
    z-index: 1050;

    .button-descriptions {
      font-size: 14px;
      font-weight: 500;
      margin-top: 4px;
      padding-left: 5px;
    }
  }

  .mat-button-focus-overlay {
    background-color: transparent !important;
  }

  .disabled {
    display: none;
  }

  mat-toolbar {
    display: flex;
    flex: 0;
    position: relative;
    padding: 0px 0px 0px 0px;
    .toolbar-icon {
      background: transparent;
      border: 0;
      cursor: pointer;
    }
  }

  .input-group {
    display: flex;
    flex-direction: row;
  }

  .navbar-button-group {
    @include flexCenter();
  }

  .button-icons {
    padding-right: 5px;
    color: #3382dc;
    @include response(sm) {
      padding-right: 0px;
    }
  }

  .img_emag {
    width: 177px;
    height: 46.75px;
  }

  .navbar-brand {
    padding: 0px 25px 0px 0px;
    @include response(sm) {
      padding: 0px 5px 0px 0px;
    }
  }

  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    display: none;
  }
}

app-searchbar {
  width: 100%;
  @include response(sm) {
    margin-right: 20px;
  }
}

.search-button {
  color: #3382dc;
  position: absolute;
  height: 37px;
  top: 0px;
  right: 0px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  &:hover {
    border-radius: 0 26px 26px 0;
    opacity: 80%;
    background: #b2d7ff;
  }
  @include response(sm) {
    height: 16px;
    position: right;
    margin-top: 5px;
    padding: 0px;
    pointer-events: none;
    &:hover {
      border-radius: 1px 1px 1px 1px;
      background: transparent;
      opacity: 100%;
    }
  }
}

.navbar-searchbox {
  position: relative;
  flex: 1;
}

input[type="search"] {
  float: right;
  background: transparent;
  width: 100%;
  padding: 10px 10px 10px 15px;
  border: 1px solid #005eb8;
  outline: none;
  border-radius: 26px;
  @include response(sm) {
    flex-grow: 1;
    transition: width 300ms ease-in-out;
    width: 0px;
    border: none;
    cursor: pointer;
    &:focus-within {
      width: 200px;
      border: 1px solid #005eb8;
      cursor: text;
    }
  }
}
.dropdown {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  &:focus {
    background: transparent;
  }
  &:active {
    background: transparent;
  }
}

@include response(sm) {
  .header {
    min-width: 100%;
  }
  .navbar-brand {
    margin-right: 20px;
  }
}
