<mat-card class="productPriceGoToCart" *ngIf="_product">
  <div class="priceCard">
    <div *ngIf="discountPers > 10" class="discPers">
      ({{ discountPers }}% off)
    </div>
    <div class="newPrice">${{ _product.price }}</div>
    <div *ngIf="discountPers > 10" class="oldPrice">${{ oldPrice }}</div>
  </div>
  <div class="ratings">
    <div
      *ngFor="let item of [0, 1, 2, 3, 4]; let i = index"
      [class.checked]="i < prodRating"
    >
      <span class="material-icons">star_rate</span>
    </div>
    {{ _product.rating.rate }}
  </div>

  <app-add-to-cart-button></app-add-to-cart-button>

  <button mat-button color="primary" class="myFavorite">
    <div class="favFlexContainer">
      <img class="favIcon" src="./assets/images/favIcon.svg" alt="" />
      <div class="addToFav">Add To Favorites</div>
    </div>
  </button>
</mat-card>
