@import "variables";
@import "mixins";

.productPriceGoToCart {
  margin-left: 30px;
  width: 440px;
  height: 220px;
  border-radius: 17px;
  @include response(xl) {
    width: 430px;
  }
  @include response(lg) {
    max-width: 290px;
  }
  @include response(md) {
    margin-left: 0px;
    max-width: 1550px;
    width: 100%;
  }
}

.ratings {
  display: flex;
  flex-direction: row;
  margin-bottom: 8px;
  align-items: center;
  gap: 5px;
}

.blueQuad {
  width: 95%;
  height: 40px;
  background: linear-gradient(90deg, #4a60c1 1.37%, #3985e0 100%);
  border-radius: 4px;
}

.redQuad {
  position: absolute;
  transform: translateY(-40px);
  height: 40px;
  background: linear-gradient(90deg, #d74151 6.12%, #ff363d 96.28%);
  width: 55px;
  border-radius: 4px;
  -webkit-border-bottom-right-radius: 40px 40px;
  border-bottom-right-radius: 20px 35px;
}

.addBtn {
  width: 90%;
  border: none;
  background: transparent;
  top: 60px;
  padding: 0;
}

.cartIcon {
  height: 28px;
  width: 45px;
  position: absolute;
  transform: translate(11px, -33px);
  left: 8px;
}

.addToCartBtn {
  color: #fff;
  transform: translate(20px, -28px);
  display: flex;
  justify-content: center;
  font-size: 15px;
  margin-bottom: 10px;
}

.myFavorite {
  width: 100%;
  height: 40px;
  margin-top: 15px;

  padding: 0;
}

.favFlexContainer {
  display: flex;
  align-items: center;
  color: #005eb8;
  border-radius: 4px;
  background-color: #fff;
  border: 1.5px #005eb8 solid;
}

.favIcon {
  margin: 5px;
  height: 28px;
  width: 28px;
}

.addToFav {
  font-size: 15px;
  width: 100%;
}
.addToFav:hover {
  cursor: pointer;
}

.checked {
  color: #f9bf3b;
}

.stickComp {
  height: 40px;
  position: fixed;
  width: 100%;
  left: 0;
  font-size: 22px;
  bottom: 0;
  z-index: 3;
  opacity: 1;
  transition: 1s;
}

.cartIconSticky {
  height: 28px;
  width: 45px;
  position: absolute;
  transform: translate(-5px, -33px);
  left: 8px;
  transition: 1s;
}

.priceCard {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 7px;
}

.newPrice {
  font-size: 24px;
  color: $price-color;
  font-weight: bold;
}

.discPers {
  font-size: 14px;
}

.oldPrice {
  text-decoration-line: line-through;
  font-size: 22px;
  color: #222222;
}

.priceCard {
  display: flex;
  flex-direction: column;
}