
.containerLeftSide {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin-bottom: 30px;
}

.secondaryPhoto {
  display: flex;
  flex-direction: row;
  max-width: 68px;
  max-height: 68px;
  padding: 5px;
}


.mainPhoto {
  border-radius: 5px;
  width: 475px;
  height: 475px;
}

.listSecondaryPhoto {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
}

.imageSelected{
    border-color: rgb(4, 0, 255);
  }

img{
  border: 2px solid transparent
}
