@import "../shared/styles/mixins";

.homepageCategoriesContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1520px;
  margin: 0 auto;
}

.categoryContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.categoryTitle {
  font-size: 30px;
  font-weight: 400;
}

.productsContainer,
.categoryTitle {
  padding: 20px 0 14px 5px;
}

.categoryItem {
  margin: 14px;
}
