<div class="cardElement" *ngIf="product">
  <img class="simCartImg" src="{{ product.images[0] }}" alt="" />
  <div class="productPrice">Rs. {{ product.price }}</div>
  <div class="prodTitle">{{ product.title }}</div>
  <div class="starArray">
    <div *ngFor="let dummy of ' '.repeat(calcRating(product.rating)).split('')">
      <img class="ratingStar" src="../../../assets/images/filled_star.png" alt="" />
    </div>
    <div
      *ngFor="let dummy of ' '.repeat(5 - calcRating(product.rating)).split('')"
    >
      <img class="ratingStar" src="../../../assets/images/empty_star.png" alt="" />
    </div>
    &nbsp; {{ this.calcRating(product.rating) }}
  </div>
</div>
