.list-container {
  padding: 10px 0;

  h1 {
    font-size: 22px;
    margin: 0;
    font-weight: 500;
  }
  .category-title {
    padding: 12px 20px;
    background-color: white;
    border-radius: 6px;
    margin-bottom: 10px;
  }

  .category-title__count {
    font-size: 16px;
    white-space: nowrap;
  }

  .item-card-container {
    width: 100%;
  }
}

.product-cards-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;

  @media only screen and (min-width: 380px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media only screen and (min-width: 959.9px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media only screen and (min-width: 1279.9px) {
    grid-template-columns: repeat(4, 1fr);
  }
}
