.list-container {
  h1 {
    font-size: 2rem;
  }
  .category-title {
    padding: 1rem 2rem;
    background-color: white;
    border-radius: 0.6rem;
  }

  .category-title__count {
    font-size: 1.6rem;
  }

  .item-card-container {
    width: 100%;
  }
}
