<app-header></app-header>
<mat-card>
    <mat-card-header>
        <mat-card-title>Datele contului</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="avatar-container">
            <div class="thumbnail">
                <span>BE</span>
            </div>
        </div>
        <div class="user-data-container">
            <p>
                    <span class="field-name">Nume:</span>
                    <span class="field-value">Boamba Emilia</span>
            </p>
            <p>
                <span class="field-name">Username:</span>
                <span class="field-value">emily-iry</span>
            </p>
            <p>
                <span class="field-name">Email:</span>
                <span class="field-value">emilia.bmb@gmail.com</span>
            </p>
            <p>
                <span class="field-name">Adresa:</span>
                <span class="field-value">Falticeni, 13 Decembrie, 725200</span>
            </p>
            <p>
                <span class="field-name">Telefon:</span>
                <span class="field-value">0712345678</span>
            </p>
        </div>
        <div class="info-client-container">
            <span>Multumim ca esti clientul nostru</span>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-flat-button>Logout</button>
    </mat-card-actions>
</mat-card>
