<div class="containerForBackground">
  <div class="component_container">
    <div class="path">{{ product?.category }}/{{ product?.title }}</div>
    <h1 class="mainTitle">{{ product?.title }}</h1>
    <div>Cod produs: 4019238054170</div>
    <hr />
    <div class="container">
      <section class="hero_section">
        <!-- <app-product?-photos></app-product?-photos> -->
        <div class="detailsContainer">

          <section class="product?_description">
            <div class="descriptionItem">{{ product?.brand }}</div>
            <div class="descriptionItem">
              Category : {{ product?.category }}
            </div>
            <div class="descriptionItem">Sold By : {{ product?.seller }}</div>
            <div class="descriptionItem">
              Description : {{ product?.description }} Lorem ipsum dolor sit
              amet consectetur adipisicing elit. Accusantium officia dolorum
              iusto libero ullam asperiores voluptatum, quidem earum,
              repellendus, laudantium tempore! Tenetur hic dolorum odio nihil ex
              sit ad enim.
            </div>
          </section>
          <!-- <app-add-to-cart-box class="cartBox"></app-add-to-cart-box> -->
        </div>
      </section>
    </div>
  </div>
</div>
<div>
  <!-- <img class="imagg" [src]="product.image" alt=""> -->
</div>
 <!-- <app-similar-product? ></app-similar-product?> -->
<!-- <product?-card-component></product?-card-component> -->
