@import "/src/variables.scss";
@import "/src/app/shared/styles/mixins";

.containerBackgr {
  background-color: #fff;
  background-size: auto;
}

.containerWidth {
  margin: 0 auto 40px auto;
  max-width: 1520px;
  padding: 0 25px;
}

.simProdTitle {
  font-size: 35px;
  line-height: 50px;
  @include response(sm) {
    font-size: 20px;
    line-height: 25px;
  }
}

.componentContainer {
  display: flex;
  flex-direction: column;
}

.heroSection {
  display: flex;
  max-width: 1520px;
  justify-content: space-between;
  @include response(xl) {
    justify-content: space-around;
  }
  @include response(md) {
    justify-content: space-around;
    flex-direction: column;
  }
}

.mainTitle {
  font-size: 28px;
}

hr {
  width: 100%;
  margin-bottom: 16px;
}

.productDescription {
  padding: 0 10px;
  max-width: 550px;
  margin: 30px 0 0 15px;
  @include response(xl) {
    order: 2;
    max-width: 480px;
  }
  @include response(md) {
    margin: 9px 0 0 15px;
    max-width: 100%;
  }
}

.detailsContainer {
  display: flex;
  flex-direction: row;
  @include response(xl) {
    flex-direction: column;
  }
}

.descriptionItem {
  margin-bottom: 15px;
}

.addToCartBox {
max-height: 270px;
  @include response(md) {
    display: flex;
    justify-content: center;
  }
}

.listSimProd {
  max-width: 1520px;
  padding: 20px ;
  display: flex;
  justify-content: space-evenly;
  scrollbar-color: $nav-gradient $background-color;
  @include response(xl) {
    justify-content: space-between;
  }
  @include response(lg) {
    gap: 20px;
  }
}

.simProdItem {
  @include response(xl) {
    gap: 35px;
  }
}

.categTtile {
  padding: 8px 0;
}

.stickComp{
  position: fixed;
  top: 0px;
  margin: 0;
  padding: 0;
  @include response(md){
    top:unset;
    bottom: 0;
  }

}

.reviewSection{
  max-width: 1520px;
  height: 340px;
}