<div class="container">
  <div class="menu-container">
    <div class="menu-list">
      <a class="btn-products btn-dropdown">
        <img
          src="../../assets/img/burgermenu.png"
          alt="burger menu icon"
          class="burgermenu-icon"
        />
        Products</a
      >
      <a class="btn-account">Account</a>
    </div>
  </div>
  <div class="content">
    <span
      class="product-category"
      (mouseover)="hoverHandler($event)"
      (mouseout)="outHandler()"
    >
      <button
        mat-button
        *ngFor="let categ of categories"
        class="list-group-item"
        id="{{ categ }}"
      >
        <mat-icon id="{{ categ }}">phone_iphone</mat-icon>
        {{ categ }}
      </button>
    </span>

    <div class="side-container">
      <app-carousel></app-carousel>
      <div class="menu-details" [ngClass]="{ open: isOpen }">
        <ul class="menu-products">
          <li *ngFor="let prod of products">
            <a href="" class="prod">{{ prod }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
