$nav-gradient: linear-gradient(
  to right,
  #ff1d25 5%,
  #a0328c 35%,
  #7040a4 45%,
  #4359c7 55%,
  #0082e6 70%
);

$breaking-point-big: 1000px;
////////////////////// Menu ///////////////////////////
.menu-container {
  background-image: $nav-gradient;
}

.menu-list {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  list-style: none;
  display: flex;
  margin: 0 10rem;
}

.burgermenu-icon {
  height: 1.2rem;
}

.btn-account {
  color: #fff;
  font-size: 1.2rem;
}

.btn-account:hover {
  // border: 1px white solid;
  box-shadow: 0 0 0 1px #fff;
  border-radius: 10rem;
}

.btn-products,
.btn-account {
  padding: 6px 10px;
  margin: 0.5rem 1rem 0 1rem;
}

.btn-dropdown {
  background-color: #fff;
  border-radius: 5px 5px 0px 0px;
  font-size: 1.6rem;
  font-weight: 500;
  display: block;
  color: #222222;
  line-height: 20px;
  cursor: pointer;
}

mat-icon {
  padding: 0rem 0.2rem;
}

// //////////////////////Products Category Menu ////////////////////
.content {
  display: flex;
  gap: 0;
}

.product-category {
  display: flex;
  flex-direction: column;
  margin-left: 11rem;
  padding: 0.5rem 0 0 0;
  background-color: #fff;
  width: 20rem;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.09);
}

.category-list {
  list-style: none;
  padding: 0rem;
}

.list-group-item {
  line-height: 4;
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding-left: 1rem;
  color: #333;
  text-transform: capitalize;
}

.list-group-item:hover {
  // border-top: 1px solid #f3f3f3;
  // border-bottom: 1px solid #f3f3f3;
  box-shadow: 0 0 0 2px #f3f3f3;

  // box-shadow: 1rem 0 rgba(0, 0, 0, 0.09);
}

.phone-icon {
  height: 2rem;
}

.list-group-a {
  text-decoration: none;
  line-height: 3.5;
  font-size: 1.3rem;
}

.side-container {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  margin-right: 11rem;
  width: 140rem;
  background-color: #fff;
  box-shadow: #333;
  box-shadow: 2px 7px 27px rgba(0, 0, 0, 0.08);
}

.menu-details {
  z-index: 1;
  display: none;
}

.close{
  z-index: 1;
  display: none;
}

.open {
  position: absolute;
  top: 0;
  width: 140rem;
  height: 70rem;
  z-index: 1;
  display: block;
  background-color: #fff;
}

.menu-products {
  list-style: none;
  line-height: 2.5;
}

.prod {
  text-decoration: none;
  color: #222222;
}

.prod:hover {
  text-decoration: underline;
}

////////////////////////////
/// la 1387px trece women's clothes pe alt rand si arata rau
/// la 1200px bulinele de la carousel se duc prea jos + padding on sides is too big
///
///
///

@media (min-width: $breaking-point-big) {
  .product-category {
    width: 20rem;
  }
}
