<div class="container">
  <h2 class="title">Navigation History</h2>
  <div class="history-img">
    <button
      class="history-product"
      *ngFor="let prod of productsHistory"
      [id]="prod.category"
      (click)="getSameCategory(prod.category)"
    >
      <img [src]="prod.image" alt="Product image" class="prod-img" />
    </button>
  </div>

  <div *ngIf="similarProducts" >
    <h3 class="subtitle">Other users also liked:</h3>
    <app-similar-products [products]="similarProducts"></app-similar-products>
  </div>
</div>
