<div class="container">
  <h2 class="title">Navigation History</h2>
  <div class="history-img">
    <a
      class="history-product"
      *ngFor="let prod of productsHistory"
      [id]="prod.category"
      (click)="openSimilar()"
    >
      <img [src]="prod.image" alt="Product image" class="prod-img" />
    </a>
  </div>

  <h3 class="subtitle">Other users also liked:</h3>
  <div class="similar-products">
    <product-card-component
      class="product-card"
      *ngFor="let prod of products"
      [product]="prod"
      (click)="productRedirect(prod.id)"
    ></product-card-component>
  </div>
</div>
