<div
  class="navbar-searchbox"
  matAutocompleteOrigin
  #origin="matAutocompleteOrigin"
>
  <input
    type="search"
    name="query"
    class="searchbox"
    placeholder="&#206;ncepe o nou&#259; c&#259;utare"
    [matAutocomplete]="auto"
    [matAutocompleteConnectedTo]="origin"
    (input)="onInputChanged($event)"
  />

  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="redirectPage($event.option.value)">
    <mat-option *ngFor="let option of options$ | async" [value]="option">
      {{ option.title }}
    </mat-option>
  </mat-autocomplete>

  <button class="search-button">
    <mat-icon>search</mat-icon>
  </button>
</div>
