@import 'src/variables.scss';
.container__products{
    display: flex;
    flex-direction: column;
    gap:10px;
    justify-content: center;
    align-items: center;
}

.header__banner {
    background-color: $nav-gradient;
    height: 50px;
}