<main class="product-list-page" fxLayoutAlign="center center">
  <div class="page-container">
    <breadcrumb-nav> </breadcrumb-nav>
    <!-- stretch should be removed in desktop mode -->
    <div
      class="main-container"
      fxLayout.lt-sm="column"
      fxLayout.gt-sm="row"
      fxLayoutAlign.lt-sm="start stretch"
      fxLayoutAlign.gt-sm="center start"
      fxLayoutGap.lt-sm="0"
      fxLayoutGap.gt-sm="1rem"
    >
      <filters></filters>
      <list-container></list-container>
    </div>
  </div>
</main>
