@import '/src/variables.scss';
@import '/src/app/shared/styles/mixins';


app-login {
  background: $background-color;
  font-weight: 400;
  line-height: 1.42857;
  color: #000;
  padding-bottom: 20px;
  padding-top: 40px;
  text-align: center;
  display: block;

  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
      
  .logo-container {
    a {
      display: inline-block;
    }
  
    img {
      width: 134px;
      max-height: 36px;
      vertical-align: middle;

      @include response(xs) {
        font-size: 30px;
        width: 100px;
      }
    }
  }
      
  .login-form-container {
    width: 400px;
    margin: 40px auto;
    padding: 0 30px;
    position: relative;
    background-color: #fff;
    display: inline-block;
    border-radius: 5px;

    @include response(xs) {
      width: 380px;
      margin: 30px auto;
    }
  }

  .mat-card:not([class*=mat-elevation-z]) {
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    box-shadow: 1px 2px 5px #ccc;
  }
  
  .mat-card>:first-child {
    margin-top: 25px;
  }

  .mat-card-header-text {
    margin: 0 auto;
  }

  .mat-card-header .mat-card-title {
      text-align: center;
      color: #999;
      font-weight: 400;
      font-size: 30px;
      margin-bottom: 30px;

      @include response(sm) {
        font-size: 25px;
      }
  }
      
  .mat-card-header .mat-card-subtitle:not(:first-child) {
    margin-top: 0;
    font-weight: 600;
    margin-bottom: 10px;
    color: #000;
  } 
  
  .mat-card>:last-child:not(.mat-card-footer) {
    margin-bottom: 30px;
  }
      
      
  mat-form-field {
    width: 100%;

    @include response(xs) {
      width: 90%;
    }

    .mat-form-field-outline-start.mat-form-field-outline-start {
      border-radius: 21px 0 0 21px;
      min-width: 21px;
    }
  
    .mat-form-field-outline-end.mat-form-field-outline-end {
      border-radius: 0 21px 21px 0;
    }

    .mat-form-field-flex.mat-form-field-flex {
      height: 40px;
      padding: 0 0.75em 1em 1.4em;

    }

    .mat-form-field-infix.mat-form-field-infix {
      padding: 0.2em 0;
    }
  }

  button {
    width: 100%;
    height: 40px;

    @include response(xs) {
      width: 90%;
    }
  }

  .mat-flat-button.mat-flat-button {
    border-radius: 21px;
    background-color: #0082e6;
    color: #fff;
    font-weight: 500;

    &:hover {
      background-color: #0065b3;
    }
  }

  .mat-spinner {
    margin: 20px auto;
  }

  .mat-progress-spinner circle, .mat-spinner circle {
    stroke: #0082e6;
  }  

  .final-error {
    margin-top: 15px;
  }
}





