@import '~@angular/material/theming';

@include mat-core();

$my-theme-primary: mat-pallete($mat-green);
$my-theme-accent: mat-pallete($mat-green, A200, A100, A400);
$my-theme-warn: mat-pallete($mat-green);

$my-theme: mat-light-theme($my-theme-accent, $my-theme-primary, $my-theme-warn);

@include angular-material-theme($my-theme)