<div class="container">
  <div class="menu-container">
    <div class="menu-list">
      <li>
        <div class="btn-products btn-dropdown">
          <img
            src="../../../../assets/img/burgermenu.png"
            alt="burger menu icon"
            class="burgermenu-icon"
          />
          Products
        </div>
      </li>
      
      <a class="btn-account">Account</a>
    </div>
  </div>
  <div class="content">
    <span class="product-category">
      <a
       
        *ngFor="let categ of categories; let i = index"
        class="list-group-item"
        id="{{ categ }}"
        (mouseover)="onHover(i, $event)"
        >
      <img src="../../../../assets/img/smartphone.png" alt="" id="{{ categ }}" class="phone-icon">
        {{ categ }}
    </a>
    </span>

    <div class="side-container">
      <app-carousel></app-carousel>
      <div
        class="menu-details"
        [ngClass]="{ open: isOpen }"
        (mouseleave)="isOpen=false"
        >
        <ul class="menu-products">
          <li *ngFor="let prod of products; let i = index">
            <a href="" class="prod">{{ prod }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
