@import "./mixins";

.containerScrollbar {
  overflow-x: scroll;
  white-space: nowrap;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: $nav-gradient $background-color;
}

.containerScrollbar::-webkit-scrollbar {
  height: 15px;
}

.containerScrollbar::-webkit-scrollbar-thumb {
  background: $nav-gradient;
  border-radius: 20px;
}

.listSimProd {
  max-width: 1520px;
  padding: 20px 0;
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
  scrollbar-color: $nav-gradient $background-color;
  @include response(xl) {
    justify-content: space-between;
  }
  @include response(lg) {
    gap: 20px;
  }
}
