@import '/src/variables.scss';

.productsContainer {
    overflow-x: scroll;
    white-space: nowrap;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: $nav-gradient $background-color;
  }

.productsContainer::-webkit-scrollbar {
    height: 15px;
  }
  
  .productsContainer::-webkit-scrollbar-thumb {
    background: $nav-gradient;
    border-radius: 20px;
  }
  