* {
  box-sizing: border-box;
  color: #222;
}

.product-list-page {
  width: 100%;
}

.page-container {
  padding: 0 20px;

  @media only screen and (min-width: 1279.9px) {
    width: 1270px;
  }
}

.main-container {
  width: 100%;
}
