@import "../../../../variables.scss";

.product-card {
  text-decoration: none;
  mat-card.mat-card {
    padding-top: 0;
  }

  mat-card-header {
    .mat-card-header-text {
      margin: 0;
    }
  }

  mat-card-title.mat-card-title {
    font-size: 1.4rem;
    font-weight: 600;
  }

  mat-card-content.mat-card-content {
    margin: 0;
  }

  img.mat-card-image {
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
  }

  .rating {
    width: 100%;
    display: flex;
  }

  .rating__stars {
    display: flex;
    flex-shrink: 0;
    margin-left: -0.6rem;
  }

  .rating__star {
    transform: scale(0.7) translateY(-0.8rem);
    margin-right: -0.8rem;

    &:last-of-type {
      margin-right: 0.2rem;
    }

    &--empty {
      color: #adadad;
    }

    &--filled {
      color: rgba(207, 160, 31, 0.897);
    }
  }

  .rating__number,
  .rating__quantity {
    font-size: 1.2rem;
    font-weight: 600;
  }

  .rating__quantity {
    color: #888;
  }

  .btn {
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
  }

  .add-to-cart {
    width: 100%;
    background: $blue-gradient;
    color: white;
    padding: 1rem;
    border-radius: 0.4rem;
    position: relative;

    &:hover {
      background: $blue-gradient-hover;
    }

    .cart-icon {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      background: $red-gradient;
      border-radius: 0.4rem 0 0 0.4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 0 0 1rem;
    }

    .title {
      padding-left: 2rem;
    }

    .curve {
      position: absolute;
      height: 100%;
      width: 1rem;
      right: -1rem;
      border-bottom-right-radius: 100%;
      background-color: #fe2d34;
    }
  }

  .price {
    font-size: 1.6rem;
    font-weight: 600;
    color: $price-color;
    margin: 1rem 0;
  }

  .toggle-favorite {
    background-color: white;
    border-radius: 100%;
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &--on {
      color: rgb(199, 64, 64);
      &:hover {
        color: rgb(230, 76, 76);
      }
    }

    &--off {
      color: #444;
      &:hover {
        color: rgb(114, 113, 113);
      }
    }
  }
}
