<a class="product-card" href="">
  <mat-card>
    <button class="btn toggle-favorite toggle-favorite--on">
      <mat-icon class="fa"> favorite </mat-icon>
    </button>
    <img
      mat-card-image
      src="https://material.angular.io/assets/img/examples/shiba2.jpg"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-header>
      <mat-card-title>Shiba Inu</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="rating">
        <span class="rating__stars">
          <mat-icon class="rating__star rating__star--filled">grade</mat-icon>
          <mat-icon class="rating__star rating__star--filled">grade</mat-icon>
          <mat-icon class="rating__star rating__star--filled">grade</mat-icon>
          <mat-icon class="rating__star rating__star--filled">grade</mat-icon>
          <mat-icon class="rating__star rating__star--empty">grade</mat-icon>
        </span>
        <span class="rating__number">4.2</span>
        <span class="rating__quantity">(10)</span>
      </div>
      <div class="price">124,99 Lei</div>
    </mat-card-content>
    <mat-card-actions>
      <button class="btn add-to-cart" mat-button>
        <div class="cart-icon">
          <mat-icon>shopping_cart</mat-icon>
          <span class="curve"></span>
        </div>
        <span class="title">Adauga in cos</span>
      </button>
    </mat-card-actions>
  </mat-card>
</a>
