@import './variables.scss';
html {
  font-size: 62.5%;

  background-color: $background-color;
}

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  margin: 0;
  font-size: 1.4rem;
}

html,
body {
  height: 100%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
