<div class="cart-overview-wrapper">
  <div class="left-side-wrapper">
    <h1>My Cart</h1>
    <div class="products-wrapper">
      <div class="products"></div>
      <div class="cost-detail">
        <h5>Products cost: Lei</h5>
        <h5>Delivery cost: Lei</h5>
        <p class="bold">Subtotal: Lei</p>
      </div>
    </div>
  </div>
  <div class="right-side-wrapper">
    <div class="order-summary-wrapper">
      <div class="order-summary">
        <p>Order Summary</p>
        <h5>Products cost: Lei</h5>
        <h5>Delivery cost: Lei</h5>
        <hr class="solid" />
        <h3 class="bold">Total: Lei</h3>
        <div class="blueQuad"></div>
        <div class="redQuad"><div class="inside_red_quad">>></div></div>
        <button class="checkout_button">Continua</button>
      </div>
    </div>
    <div class="discount-wrapper">
      <div class="discount-box">
        <h5>Apply a gift card:</h5>
        <hr class="solid" />
        <input type="text" />
        <button class="apply_button">Apply</button>
      </div>
    </div>
  </div>
</div>
